<div class="container-fluid">
    <!-- Footer -->
    <footer class="text-center text-dark" style="background-color: #f8f9fa">
      <!-- Grid container -->
      <div class="container">
        <!-- Section: Links -->
        <section class="">
          <!-- Grid row -->
          <div class="row text-center justify-content-center pt-4">
            <!-- Grid column -->
            <div class="col-md-4">
              <h6 class="text-uppercase font-weight-bold">
                <a href="{% url 'about_us' %}" class="text-dark">About us</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4">
              <h6 class="text-uppercase font-weight-bold">
                <a href="{% url 'category' %}" class="text-dark">category</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4">
              <h6 class="text-uppercase font-weight-bold">
                <a href="{% url 'myorders' %}" class="text-dark">My orders</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            {% comment %} <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-dark">Help</a>
              </h6>
            </div> {% endcomment %}
            <!-- Grid column -->
  
            <!-- Grid column -->
            {% comment %} <div class="col-md-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-dark">Contact</a>
              </h6>
            </div> {% endcomment %}
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </section>
        <!-- Section: Links -->
  
        <hr class="my-" />
  
        <!-- Section: Text -->
        <section class="mb-4">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <p>
                We strive for customer satisfaction by offering a user-friendly search engine, 
                efficient payment options and seamless delivery systems. Apart from all this, 
                we also provide great deals and discounts on our products.
              </p>
            </div>
          </div>
        </section>
        <!-- Section: Text -->
  
        <!-- Section: Social Media -->
        <section class="text-center mb-5">
          <a href="https://www.facebook.com/aswindas.warrier" class="text-dark me-4" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="#" class="text-dark me-4">
            <i class="fa fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/in/aswindas-c-v-50391b156/" class="text-dark me-4" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
          <a href="https://github.com/ASWIN-CHUNDEKKAD" class="text-dark me-4" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </section>
        <!-- Section: Social -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright:
        <a class="text-DARK" href="https://mdbootstrap.com/">BOOK SPOT</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->
  